:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #2196f3;
  --quaternary-text-color: #ffffff;
  --title-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --section-backgrond-color: #f5f4fa;
  --accent-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-button-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--dark {
  color: var(--accent-color);
}

.logo--light {
  color: var(--quaternary-text-color);
}

.logo__word {
  color: var(--tertiary-text-color);
  font-family: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.hero__button,
.modal-button,
.footer__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  background-color: var(--accent-button-color);
  color: var(--main-background-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus,
.modal-button:hover,
.modal-button:focus,
.footer__button:hover,
.footer__button:focus {
  background-color: #188ce8;
}

.header {
  background-color: var(--main-background-color);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}

.logo__header {
  margin-right: 93px;
}

.navigation {
  display: none;
}

.navigation__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--tertiary-text-color);
}
.navigation__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}

.connect {
  display: none;
  margin-left: 305px;
}

.connect__list {
  display: flex;
  align-items: center;
}

.connect__item:not(:last-child) {
  margin-right: 30px;
}

.connect__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__contact:hover, .connect__contact:focus {
  color: var(--tertiary-text-color);
}

.connect__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
}

.mob-menu__open,
.mob-menu__close {
  display: block;
  margin-left: auto;
  border: none;
  background-color: inherit;
}
.mob-menu__open:hover, .mob-menu__open:focus,
.mob-menu__close:hover,
.mob-menu__close:focus {
  color: var(--tertiary-text-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 48px;
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--tertiary-text-color);
}

.mob-connect {
  margin-bottom: 64px;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-connect__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc__list {
  display: flex;
  align-items: center;
}

.mob-soc__item {
  padding-right: 10px;
  padding-left: 10px;
}

.mob-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  width: 480px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero-2x.jpg);
  }
}

.hero__title {
  color: var(--quaternary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__item {
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    max-width: 354px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    max-width: 270px;
    width: calc((100% - 90px) / 4);
  }
}

.thumb {
  justify-content: center;
  background-color: #f5f4fa;
  width: 450px;
  height: 120px;
  padding: 25px 191px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .thumb {
    width: 354px;
    padding: 25px 144px;
  }
}
@media screen and (min-width: 1200px) {
  .thumb {
    width: 270px;
    padding: 25px 100px;
  }
}

.feature__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__subtitle {
    text-align: left;
  }
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.about {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-bottom: 94px;
}

.about__list {
  display: flex;
  margin-left: -30px;
}

.about__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  position: relative;
}

.about__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__thumb-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--quaternary-text-color);
}

.team {
  background-color: var(--section-backgrond-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  width: 100%;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.layout__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .layout__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .layout__item {
    width: calc((100% - 150px) / 6);
  }
}

.layout__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.layout__link:hover, .layout__link:focus {
  fill: rgb(33, 150, 243);
}

.layout__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.layout__link:hover .layout__icon, .layout__link:focus .layout__icon {
  fill: rgb(33, 150, 243);
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-footer {
  display: flex;
  align-items: baseline;
}

.address__location,
.address__email,
.address__tel {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__location {
  color: var(--section-backgrond-color);
  margin-top: 20px;
  margin-bottom: 9px;
}
.address__location:hover, .address__location:focus {
  color: var(--accent-button-color);
}

.address__email {
  color: var(--footer-text-color);
  margin-bottom: 9px;
}
.address__email:hover, .address__email:focus {
  color: var(--accent-button-color);
}

.address__tel {
  color: var(--footer-text-color);
}
.address__tel:hover, .address__tel:focus {
  color: var(--accent-button-color);
}

.second-footer {
  margin-left: 70px;
}

.join__title,
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--quaternary-text-color);
  margin-bottom: 20px;
}

.join-socials {
  display: flex;
}

.join-socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.join-socials__item:last-child {
  margin-right: 0;
}

.join-socials__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-socials__link:hover, .join-socials__link:focus {
  background-color: #2196f3;
}

.join-socials__icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-socials__link:hover .join-socials__icon, .join-socials__link:focus .join-socials__icon {
  fill: #ffffff;
}

.subscribe {
  margin-left: 93px;
}

.subscribe__form {
  display: flex;
}

.subscribe__wrap {
  position: relative;
}

.subscribe__input {
  min-width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--quaternary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  position: relative;
  padding-left: 16px;
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--quaternary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button {
  padding: 10px 28px;
  position: relative;
  display: flex;
  margin-top: 0;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.sections-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sections-button__item:not(:last-child) {
  margin-right: 8px;
}

.sections-button__title {
  padding-right: 22px;
  padding-left: 22px;
  height: 38px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sections-button__title:hover, .sections-button__title:focus {
  background-color: var(--tertiary-text-color);
  color: var(--main-background-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-list__item:nth-child(3n) {
  margin-right: 0;
}
.work-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.work-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list__item-wrap {
  position: relative;
  overflow: hidden;
}

.work-list__overlow-text {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 1.56;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list__item:hover .work-list__overlow-text {
  transform: translateY(0);
}

.work-list__description {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.work-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-left: 24px;
}

.work-list__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-top: 4px;
  margin-left: 24px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(49, 50, 61, 0.443);
  position: fixed;
  top: 0;
  transition: opacity 600ms, visibility 600ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(0), scale(0), rotate(180deg);
}

.modal-close-button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 6px 6px;
  display: flex;
}

.modal-button {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-text {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.checkbox-field {
  display: flex;
  margin-left: 14px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-icons {
  position: absolute;
  left: 15px;
  top: 50%;
  fill: var(--secondary-text-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icons {
  fill: #2196f3;
}

.modal-check:checked + .check-text::before {
  background-color: #2196f3;
  background-image: url(../images/modal-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.modal-check:focus + .check-text::before {
  color: var(--accent-button-color);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  display: flex;
  align-items: center;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}

.modal-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration-line: underline;
  color: #2196f3;
  margin-left: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */