.about {
  @include font(null, 36px, 1.16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-bottom: 94px;
}

.about__list {
  display: flex;
  margin-left: -30px;
}
.about__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}
.about__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.about__thumb-title {
  @include font(null, 14px, 1.14);
  text-align: center;
  text-transform: uppercase;
  color: var(--quaternary-text-color);
}
