.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.feature__item {
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}

.thumb {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
}

.feature__subtitle {
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  text-align: center;
  @include tablet {
    text-align: left;
  }
}

.feature__text {
  @include font(400, 14px, 1.71);
  color: var(--primary-text-color);
}
