.second-footer {
  margin-left: 70px;
}
.join__title,
.subscribe__title {
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: var(--quaternary-text-color);
  margin-bottom: 20px;
}
.join-socials {
  display: flex;
}
.join-socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.join-socials__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.join-socials__icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .join-socials__link:hover &,
  .join-socials__link:focus & {
    fill: #ffffff;
  }
}
