.subscribe {
  margin-left: 93px;
}

.subscribe__form {
  display: flex;
}

.subscribe__wrap {
  position: relative;
}

.subscribe__input {
  min-width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--quaternary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  position: relative;
  padding-left: 16px;
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--quaternary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button {
  padding: 10px 28px;
  position: relative;
  display: flex;
  margin-top: 0;
}
