body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
